<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>

					<Format>cobertura</Format>

					<!-- ВКЛЮЧВАМЕ САМО SERVICES -->
					<Include>
						[SportsDiarys.Services]*
					</Include>

					<!-- ИЗКЛЮЧВАМЕ ВСИЧКО ДРУГО -->
					<Exclude>
						[SportsDiarys]*.Controllers.*
						[SportsDiarys]*.Views.*
						[SportsDiarys]*.Areas.*
						[SportsDiarys]*.ViewModels.*
						[SportsDiarys]*.Program
						[SportsDiarys]*.Startup
						[SportsDiarys.Tests]*
						[Microsoft.*]*
						[System.*]*
					</Exclude>

				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>